<div class="p-grid p-dir-col p-justify-center">
  <h1 class="mb-3">Add new category</h1>

  <div class="p-col-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="custom-form">
      <div class="p-field">
        <label for="name">Name</label>
        <input type="text" class="p-inputtext" id="name" formControlName="name" required>
      </div>
      <div class="p-field">
        <label for="products">Products:</label>
        <p-multiSelect [options]="products" formControlName="products" optionLabel="name" (ngModelChange)="updateProducts($event)"></p-multiSelect>
      </div>
      <div class="p-field">
        <button type="submit" class="p-button p-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
