<div class="container my-5">
  <h1 class="mb-3">Products</h1>
  <p-table [value]="products" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Categories</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.productId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>
          <ul>
            <li *ngFor="let category of product.categories">{{ category?.name }}</li>
          </ul>
        </td>
        <td><a [routerLink]="['/products', 'edit', product.productId]">Edit</a></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td colspan="6">No products found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
